<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap" rel="stylesheet">

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">

<div class="header-container">
	<header class="header w-1200">
		<nav class="header__nav">
			<a href="{{@site.url}}" class="header__nav-link">Home</a>
			<a href="https://runestake.com/r/blog1" class="header__nav-link">Go to Runestake.com</a>
		</nav>
		<div class="header__share">
			<a href="" class="header__share-link"><img src="assets/images/twitter-icon.svg" alt="twitter icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/discord-icon.svg" alt="discord icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/tiktok-icon.svg" alt="tiktok icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/youtube-icon.svg" alt="youtube icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/instagram-icon.svg" alt="instagram icon"></a>
		</div>
	</header>
</div>


<main class="gh-main">

    {{{body}}}

</main>

<div class="footer-container">
	<footer class="footer w-1200">
		<img src={{asset "assets/images/hero-logo-image.svg"}} alt="logo image" class="footer__logo">
		<div class="footer__copy">©2020-2022 Runestake. All Rights Reserved.</div>
		<div class="header__share">
			<a href="" class="header__share-link"><img src="assets/images/twitter-icon.svg" alt="twitter icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/discord-icon.svg" alt="discord icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/tiktok-icon.svg" alt="tiktok icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/youtube-icon.svg" alt="youtube icon"></a>
			<a href="" class="header__share-link"><img src="assets/images/instagram-icon.svg" alt="instagram icon"></a>
		</div>
	</footer>
</div>

</div>

{{!-- <foot> --}}

<script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>

{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "built/infinitescroll.js"}}"></script>
{{/if}}

<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
});
</script>

{{#is "post, page"}}
<script src="{{asset "built/jquery.fitvids.js"}}"></script>
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
});
$(document).ready(function () {
    var $postContent = $(".gh-content");
    $postContent.fitVids();
});
</script>
{{/is}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
