{{!< default}}

{{#post}}

<div class="post-page-container safe-margin">
	<div class="post-page w-1200">
		<div class="post-header">
			<h1 class="post-header__title">{{title}}</h1>
			<div class="post-header__tags">{{tags}}</div>
			{{#if feature_image}}
				<div class="post-header__image-box">
					<a href="{{url}}"><img src="{{feature_image}}" alt="post image" class="post-header__img"></a>
				</div>
			{{else}}
				<div class="post-header__image-box">
					<a href="{{url}}"><img src="{{asset "assets/images/post-img-placeholder.jpg"}}" alt="post image" class="post-header__img"></a>
				</div>
			{{/if}}
			<div class="b-card__footer">
				{{#foreach authors}}
					<img src="{{profile_image}}" alt="author image" class="b-card__author-img">
					<div class="b-card__footer-info">
						<span class="b-card__name">{{name}}</span>
				{{/foreach}}
						<div class="b-card__footer-time">
							<div class="b-card__date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></div>
							<div class="b-card__separator"></div>
							<div class="b-card__read-time">{{reading_time}}</div>
						</div>
					</div>
			</div>
		</div>
		<div class="post-body">
			{{content}}
		</div>
		<div class="post-footer">
			{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tag:-hash-en" as |related|}}
			{{#if related}}
				<h2 class="post-footer__title">Related posts</h2>
				<div class="post-footer__cards">
					{{#foreach related}}
						{{> card}}
					{{/foreach}}
				</div>
			{{/if}}
			{{/get}}
		</div>
	</div>
</div>

{{/post}}
